body {
  font-family: 'Nunito', sans-serif;
  background-color: #f5d57f;
}

h1,
h2 {
  text-align: center;
}



img {
  width: 500px;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
}
